@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 24% 95%;
    --foreground: 145 14% 18%;
    --card: 45 33% 98%;
    --card-foreground: 145 14% 18%;
    --popover: 45 33% 98%;
    --popover-foreground: 145 14% 18%;
    --primary: 95 18% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 92 25% 91%;
    --secondary-foreground: 95 20% 30%;
    --muted: 95 12% 91%;
    --muted-foreground: 140 8% 48%;
    --accent: 92 25% 91%;
    --accent-foreground: 95 20% 30%;
    --destructive: 12 44% 56%;
    --destructive-foreground: 0 0% 100%;
    --border: 90 13% 87%;
    --input: 90 13% 87%;
    --ring: 95 18% 43%;
    --radius: 1rem;
    --sidebar-background: 45 33% 98%;
    --sidebar-foreground: 140 8% 48%;
    --sidebar-primary: 95 18% 43%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 92 25% 91%;
    --sidebar-accent-foreground: 95 20% 30%;
    --sidebar-border: 90 13% 87%;
    --sidebar-ring: 95 18% 43%;
  }

  * { @apply border-border; }
  body { @apply bg-background text-foreground; }
}
